{% extends 'base.html' %}

{% block cabecalho %}

<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top">
      
        <div class="navbar-header">
      <a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
        <a class="navbar-brand" href="/">CenterClass</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/sobre" target="ext">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acesso Rápido <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/agenda">Agenda</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div>

    </div>
  </div><!-- /container -->
</div><!-- /navbar wrapper -->

{% endblock %}

{% block corpo %}

<div class="container">
<a href="/adiciona/">Adicionar Novo Compromisso</a>
<ul>	
{% for item in lista_itens %} <!-- lista_itens é um objeto do tipo render_to_response em views.py -->
	<li>        
        <a href="/remove/{{item.id}}">
        	<img src="/media/imagens/lixeira.ico/">
        </a>
		<a href="/item/{{ item.id }}">
			{{ item.data|date:'d/m/Y' }} - {{ item.titulo }}
		</a>	
	</li>
{% empty %}	
	<li>No momento, não existem compromissos agendados.</li>
{% endfor %}
</ul>
</div>

{% endblock %}