{% extends "base.html" %}

{% block corpo %}

{% if forms.errors %}
	{{ form.non_field_errors }}
{% endif %}	


<style>
  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}
    </style>

<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top">
      
        <div class="navbar-header">
      <a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
        <a class="navbar-brand" href="/">CenterClass</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/sobre" target="ext">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acesso rápido <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/agenda">Agenda</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
  </div><!-- /container -->
</div><!-- /navbar wrapper -->
<body>
<br>
<br>
<br>
<br>
<br>

<div class="container">	
	<div class="col-md-4 col-md-offset-4">
    	<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">Por favor, faça login</h3>
		 	</div>
		 		<div class="panel-body">
<form action="." method="post">
	{% csrf_token %}
	<fieldset>
<!--<table>-->
<!--<tr>-->
		<div class="form-group">
		{{ form.username.label_tag }}
		{{ form.username }}
		</div>	
	
        <div class="form-group">
		{{ form.password.label_tag }}
		{{ form.password }}
        </div>		
		<br>
			<button type="submit"class="btn btn-lg btn-success btn-block">Login</button>			
		</td>
<!--</tr>-->
<!--</table>-->
	</fieldset>
	
</form>	
			</div>	
		</div>
	</div>	
</div>

</body>

{% endblock %}

